.memenu {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	display: inline-block;
	position: relative;
	font-family: Calibri,Arial;
	font-size: 15px;
}
.memenu li {
	display: inline-block;
	text-align: left;
	
}
ul.memenu.skyblue {
	text-align: center;
}
.memenu >li > a {
	font-family: 'JosefinSans-Regular';
	float: left;
	padding: 5px 25px;
	color: #caccce;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	transition:color .4s ease-in-out;
	-moz-transition:color .4s ease-in-out;
	-webkit-transition:color .4s ease-in-out;
	-o-transition:color .4s ease-in-out
}
.memenu > li >.mepanel {
	posiotion: absolute;
	display: none;
	background: #fff;
	width: 80%;
	top: 47px;
	left: 10.7%;
	z-index: 99;
	padding: 20px 30px 20px;
	border: solid 1px #ccc;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.me-one- ul {
	padding: 0;
}
